/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************
                 Css Base Starts 
*****************************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  padding: 2rem;
  /* adding padding allows for all the content to be more centered to the page, allowing for more space */
}
/* allows for the h1 to have the proper space at the bottom and to be the proper size according to the pic */
.siteheader h1{
    font-size: 2rem;
    margin: 0 auto 2rem;
    font-weight: bold;
}
.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex; 
  flex-direction: column;
  gap: 1rem;
  /* adding flex allows for me to easily control the content within the cards */

}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
  font-size: 1.4rem;
  padding-bottom: 0.5rem; 
  order: 2;
  font-weight: bold;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  display: block; 
  /* adding block allowed me to control it as a block level element */
  text-align: left;
  align-self: stretch; 
  /* using width:100%  would have made the button go outside of the card, so stretch allowed for it to look exactly like the image */
  order: 4;
}

.icon {
  font-size: 4rem;
  display: block; 
  text-align: center;
  /* allows for the emoji to be center by allowing the icon to behave as a block level element*/
  margin: 1rem 0; 
  order: 1;
  /* since im using flexbox i can order everything accordingly, so this allows me to place the icon first, then the rest of the content after to be placed properly */
}
.emojis{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    /* allows for emoji cards to be placed in 2 columns, 1 fraction apart */
    gap: 2rem; 
    /* allows for a space between each card */
    max-width: 1100px; 
    margin: 0 auto;
}

.emoji p{
    line-height: 1.4; 
    /* allows for space bettwen the lines of the paragraph content */
    flex-grow: 1;
    /* flex grow forces the button to the bottom of the card even when the text lengths are different */
    margin-top: 0.5rem; 
    order: 3;
}

